<% if salesforce_org != nil %>
<div style="display:none">
  <input id="salesforce_org_username" value="<%= salesforce_org.username %>" />
  <input id="salesforce_org_password" value="<%= salesforce_org.password %>" />
  <input id="salesforce_org_token" value="<%= salesforce_org.token %>" />
  <input id="salesforce_org_client_id" value="<%= salesforce_org.client_id %>" />
  <input id="salesforce_org_client_secret" value="<%= salesforce_org.client_secret %>" />
  <input id="salesforce_org_sandbox" value="<%= salesforce_org.sandbox %>" />
</div>
<% end %>
<a class="testConnection">Test Connection</a><span id='connResult'></span>